
@using HyperionCore.Web.Areas.Identity.Models.Identity
@using Microsoft.AspNetCore.Identity

@model HyperionCore.Web.Areas.Identity.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = "~/Views/Shared/Layouts/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
    ViewData["CopyrightYear"] = DateTime.Now.Year;
}

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">
                <i class="fa fa-paw"></i>
            </h1>
        </div>
        <br />
        <h3>Welcome to ADS Backend!</h3>
        <p>
            Perfectly designed and precisely prepared backend to your ADS app.
        </p>
        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <div class="form-group">
                <a asp-area="Identity" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
            </div>
        </form>
        <p class="m-t"><small>Easton Area School District &copy; @ViewData["CopyrightYear"]</small></p>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
