@model Hyperion.Web.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Some status info here.</p>
        <a href="#" class="btn btn-success">
            <span class="fa fa-envelope"></span> Send a Message
        </a>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Environment</h5>
                </div>
                <div class="ibox-content">
                    <p>Some stuff about the planet here.</p>
                    <a href="#" class="btn btn-primary">
                        <span class="fa fa-recycle"></span> Reduce, Reuse, and Recycle
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-area="Identity" asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-area="Admin" asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>

}
