@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();

}

@if (showBanner)
{
    <div id="cookieConsentdiv" class="alert text-center cookiealert show">    
        This site uses cookies for authentication.  Please read our <a asp-area="" asp-controller="Home" asp-action="Privacy" target="_blank">privacy policy</a> for more information.    
        <button type="button" class="btn btn-primary ml-2 accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
	<script>
		(function () {
			var button = document.querySelector("#cookieConsentdiv button[data-cookie-string]");
			button.addEventListener("click", function (event) {
				document.cookie = button.dataset.cookieString;
                var banner = document.getElementById('cookieConsentdiv');
                banner.classList.remove('show');
            }, false);
		})();
	</script>
}