/*
    Place site-specific custom styles here
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --tblr-font-sans-serif: "Poppins",-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

.breadcrumb {
    margin-bottom: 1rem;
}

.dropdown-toggle:after {
    content: "";
    display: inline-block;
    vertical-align: 0.306em;
    width: 0.36em;
    height: 0.36em;
    border-bottom: 1px solid;
    border-left: 1px solid;
    margin-right: 0.1em;
    margin-left: 0.4em;
    transform: rotate(-45deg);
    transition: all 0.3s;
}
.dropdown-toggle.collapsed:after {
    transform: rotate(-135deg);
}
    
.nav-link .ti {
    font-size: 1.35em;
    width: 1.5em;
    padding-right: 0.50em;
}

.dropdown-item {
    width: auto;
    padding-left: 3.25rem;
    color: inherit;
}

.dropdown-nested {
    padding-left: 0.75em;
}

.form-group {
    margin-bottom: 1rem;
}

.card.tabs {
    border-radius: 0px;
}

.theme-dark .text-muted {
    color: rgba(255,255,255,.7) !important;
}

.theme-light .text-muted {
    color: rgba(30,41,59,.7) !important;
}
