@inject RoverCore.Boilerplate.Domain.Entities.ApplicationSettings Settings;
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 fw-bold" >Our Team</h1>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/003f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Ludmiła Sobczak</h1>
                    <h5 class="small text-uppercase text-muted badge bg-purple-lt">Founder</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/001m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Timothy B. Brown</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Web Designer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/000f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Alois Dohnálek</h1>
                    <h5 class="small text-uppercase text-muted badge bg-blue-lt">Marketing</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/004f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Ambretta Palermo</h1>
                    <h5 class="small text-uppercase text-muted badge bg-red-lt">Sales</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/006f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Kristian Solbakk</h1>
                    <h5 class="small text-uppercase text-muted badge bg-red-lt">Customer Service</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/008m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Laurence Rivière</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Software Engineer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/008f.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Lisa Kortig</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">UX/UI Designer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="/theme/tabler/img/avatars/011m.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Jakub Horák</h1>
                    <h5 class="small text-uppercase text-muted badge bg-purple-lt">Financial Officer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>