@inject RoverCore.Boilerplate.Domain.Entities.ApplicationSettings Settings;
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
}

<!-- Header-->
<!-- For demo purpose -->
<div class="container py-5">
    <div class="row text-center text-white">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">Our Team</h1>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
        </div>
    </div>
</div><!-- End -->


<div class="container">
    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">


        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card">
                <div class="card-body p-0">
                    <br/>
                    <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h1>Vincent Lauro</h1>
                    <h5 class="small text-uppercase text-muted badge bg-green-lt">Developer</h5>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis lorem convallis, sollicitudin lorem eu, suscipit lacus. Ut pharetra mattis.</p>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>