@{
    Layout = "Layouts/Empty/_Layout";
}

<div class="container-narrow py-4">
    <div class="text-center mb-2">
        <div class="navbar-brand navbar-brand-autodark">
            <div class="d-flex flex-row">
                <div class="p-3">
                    <img src="/theme/front/img/rover.svg" style="height:3rem">
                </div>
                <div class="align-self-center">
                    <div class="fs-1 fw-bolder">RoverCore</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-md">
        <div class="card-body">
            <h2 class="fw-bold">Privacy Policy</h2>
            <br/>
            <div class="markdown">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae vestibulum augue. Sed consectetur nunc eu libero tempus tristique. Curabitur et risus at ipsum varius faucibus nec sed mauris. Duis pretium dignissim metus a ullamcorper. Nullam semper porttitor turpis, eget aliquet orci. Mauris nunc metus, ultrices eleifend erat non, molestie venenatis ex. Vivamus pharetra ornare eros ac fermentum. Morbi ac luctus justo. Pellentesque sodales massa fringilla nunc malesuada, non lobortis ex efficitur. Etiam velit augue, congue ut mattis nec, aliquam vel eros. Praesent condimentum nulla et nisl fringilla viverra. Suspendisse sollicitudin malesuada est, in sagittis urna laoreet quis.</p>
                <hr>
                <div>
                    <h3>Header 1</h3>
                    <p>Curabitur mattis sodales risus ut lobortis. Vivamus vestibulum nunc at neque sagittis, vel porta ex posuere. Cras eu nisi sed odio porttitor fringilla. Phasellus et dictum diam, a rutrum ex. In malesuada tellus tincidunt eros tincidunt egestas. Mauris efficitur mi et gravida tempus. Cras tristique, nibh sit amet dignissim scelerisque, ligula est elementum erat, ut posuere sapien arcu a purus.</p>
                    <p>Morbi dignissim turpis purus, non rutrum nibh porttitor nec. Quisque accumsan, risus at lobortis bibendum, justo velit mattis metus, in consectetur magna nisi nec magna. Nunc mollis sodales quam, a luctus velit cursus id. Etiam luctus eros quis urna bibendum lacinia. Proin et eleifend orci, sit amet venenatis orci. Maecenas convallis rhoncus ullamcorper. Nulla dui orci, venenatis quis vulputate ut, sodales quis enim. Sed dui turpis, consectetur viverra arcu eu, interdum bibendum purus. Cras euismod sed sem vitae imperdiet. Vivamus tincidunt nulla interdum lorem finibus pellentesque. Nunc interdum facilisis nisl, vel sagittis sem. Morbi non orci ligula. Aliquam sagittis rutrum neque in tempus. Duis laoreet metus odio.</p>
                </div>
                <div>
                    <h3>Header 2</h3>
                    <p>Ut rutrum eleifend dui ut pulvinar. Etiam accumsan imperdiet volutpat. Vestibulum et neque sem. In maximus rutrum quam, non ullamcorper tortor. Donec vel enim ac nulla varius porttitor eget a leo. Nulla id dolor pharetra, semper turpis ac, vestibulum velit. Pellentesque tincidunt nisl eget nibh suscipit, tempor imperdiet nibh ultrices. In condimentum lacinia malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris hendrerit eget elit ac molestie. Suspendisse fringilla mauris elit, at malesuada justo luctus eget. Donec feugiat fringilla lorem, in molestie leo. Ut id consectetur dolor, ut porta orci. Ut non ipsum euismod, suscipit ligula vitae, auctor sem.</p>
                    <p>Praesent laoreet, mi ac ultricies rhoncus, tortor magna mattis erat, eget egestas justo sem id risus. Sed purus turpis, mattis eu blandit eget, facilisis sed purus. Aliquam a iaculis dolor. Aenean ultrices ante est, at malesuada metus iaculis vitae. Aliquam erat volutpat. Aliquam condimentum orci vel nunc eleifend sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pharetra eros at commodo tincidunt. Ut ut elementum neque, sed commodo magna. In eu libero ut massa scelerisque aliquet. Sed ultrices semper velit, at gravida est elementum at.</p>
                    </div>
                <div>
                    <h3>Header 3</h3>
                    <p>Quisque et vulputate sem, in ultricies tellus. Donec rhoncus porttitor elementum. Nulla mi diam, elementum ut nulla quis, mollis commodo turpis. Fusce vel maximus neque. Aenean sit amet feugiat justo. Nulla consequat orci eget porttitor consequat. Vivamus nisi nulla, lobortis id ligula eu, pellentesque pulvinar lectus. Nunc vel blandit velit, vel rutrum orci. Morbi vitae cursus lacus. Vestibulum mattis blandit molestie. Duis quis congue lectus. Quisque a porttitor nulla, ac laoreet mauris. Fusce fringilla tincidunt felis, nec molestie massa vulputate sit amet.</p>
                    <p>Donec quis dignissim augue, ac pretium nisl. Suspendisse euismod efficitur ante vel scelerisque. Cras turpis justo, sollicitudin eget auctor in, euismod id quam. Maecenas eu luctus ante. Integer aliquam venenatis nunc, vitae iaculis enim posuere eget. Duis suscipit eros et pulvinar dignissim. Donec id varius nibh. Sed tellus orci, malesuada eget cursus sed, ornare id nulla. Aliquam erat volutpat. Aliquam elit nunc, congue eget neque eget, porta vulputate mi. Praesent id fermentum justo. Proin nisl risus, lacinia sed lectus vel, venenatis molestie quam. Aliquam euismod quis velit et efficitur. Ut dapibus euismod diam, a pellentesque augue egestas et. Mauris scelerisque nunc est, eget convallis nulla egestas eget. Morbi fermentum vehicula ante in vestibulum./p>
                </div>
                <div>
                    <h3>Header 4</h3>
                    <p>Maecenas vel sem sagittis, maximus orci sit amet, vehicula quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nec nulla sed urna convallis tincidunt sed sed nibh. Aenean a euismod dolor. Curabitur molestie nulla id luctus dictum. Proin pellentesque tellus at neque iaculis feugiat. Nam sollicitudin, ipsum non efficitur maximus, est urna rutrum magna, eget fringilla augue metus ac dui. Donec aliquet feugiat est a finibus. Pellentesque feugiat pellentesque lacinia. Nam quis interdum nisl, non aliquet quam. Maecenas hendrerit massa justo, quis feugiat dolor viverra eget. Phasellus vestibulum ac nibh at ullamcorper. Maecenas lobortis pretium vestibulum. Vestibulum erat justo, porta non faucibus at, placerat et felis.</p>
                    <p>Maecenas quis ipsum rutrum, faucibus purus vitae, tristique tellus. Suspendisse sit amet purus ornare, dignissim mauris eu, vulputate tortor. Fusce aliquet et arcu nec faucibus. Praesent tincidunt bibendum euismod. Maecenas tincidunt arcu vitae molestie imperdiet. Donec tempor et lorem eget euismod. Fusce finibus semper lacus, vel vestibulum dui elementum in. Nunc convallis arcu eget velit sollicitudin fringilla id et tortor. Sed vehicula, orci et posuere luctus, sapien mauris tempor nibh, id hendrerit nunc arcu in metus. Aliquam justo ipsum, porta cursus rhoncus a, pretium vitae quam. Maecenas lacinia faucibus tortor, at cursus lacus mattis vitae.</p>
                </div>
                <div>
                    <h3>Header 5</h3>
                    <p>Praesent ut nisi lectus. Duis accumsan tortor eget massa interdum, eget lobortis tortor eleifend. Praesent finibus viverra felis, ac aliquet nisi dignissim ac. Vivamus porta turpis vitae quam tempor, eget ullamcorper quam condimentum. Quisque sed semper nulla, vel rhoncus ante. Nunc interdum, arcu a varius sollicitudin, nibh lorem bibendum urna, in pulvinar lacus urna ac ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc vestibulum sit amet urna non consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus luctus convallis libero, eget condimentum ligula convallis sed. Ut tellus orci, vulputate ut iaculis et, sodales non velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut eu feugiat eros, sit amet aliquam odio. Curabitur dapibus odio at est tristique consectetur.</p>
                    <p>Pellentesque massa ex, blandit iaculis lobortis quis, fringilla sed erat. Vivamus convallis tincidunt elit, a gravida lorem vehicula at. Vivamus ornare a felis ut tempor. Sed non lobortis est, vitae iaculis est. Aliquam mauris est, consectetur a odio nec, mattis congue libero. Suspendisse ut est dui. Nunc pellentesque sagittis nibh luctus finibus. Etiam rhoncus ante ipsum, quis interdum velit aliquet et. Fusce a efficitur enim. Donec eu dapibus eros. Nullam tempor justo sapien, vitae tristique diam pulvinar non. Suspendisse bibendum, quam vitae porta feugiat, elit tortor laoreet ex, vel mattis mi ex pellentesque libero. Aliquam erat volutpat. Suspendisse placerat erat at nisi sagittis, sed ornare eros blandit. Aliquam luctus maximus ex, quis maximus ipsum laoreet dignissim.</p>
                    </div>
            </div>
        </div>
    </div>
</div>