
<div class="page-header d-print-none">
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				Admin
			</div>
			<h2 class="page-title">
				Jobs Management
			</h2>
		</div>
	</div>
</div>

<div class="hangfire-container">
	<iframe id="hangfireiframe" src="/admin/job/hangfire" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' style="height:200px;width:100%;border:none;overflow:hidden;"></iframe>
</div>