@{
    ViewData["Title"] = "Access denied";
}

<div class=" border-top-wide border-primary d-flex flex-column">
	<div>
		<div class="container-tight py-4">
			<h2 class="text-danger">@ViewData["Title"]</h2>
			<p class="text-danger">You do not have access to this resource.</p>
		</div>
	</div>
</div>
