@{
	Layout = "~/Views/Shared/Layouts/Front/_Layout.cshtml";
    ViewData["Title"] = "Locked out";
}

<div class=" border-top-wide border-primary d-flex flex-column">
	<div>
		<div class="container-tight py-4">
			<h2 class="text-danger">@ViewData["Title"]</h2>
			<p class="text-danger">This account has been locked out, please try again later.</p>
		</div>
	</div>
</div>
