@using RoverCore.Web.Views.Shared.Components.Navbar
@using RoverCore.Domain.Entities
@inject ApplicationSettings Settings

<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href=".">
                    <div class="d-inline-flex flex-row align-items-center">
                        <img src="/theme/tabler/img/paw_white.svg" width="110" height="32" alt="@Settings.SiteName" class="navbar-brand-image">
                        <p class="mt-0 mb-0 p-1">@Settings.SiteName</p>
                    </div>

                    
                </a>
            </h1>
        <div class="navbar-nav flex-row d-lg-none">
            @await Html.PartialAsync("~/Views/Shared/Partials/_NavbarPartial.cshtml")

            @* Here we import the navigation bar view component that is custom *@
            
        </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                @(await Component.InvokeAsync<NavbarViewComponent>())
            </div>
        </div>
</aside>