@model RoverCore.Web.Areas.Dashboard.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    @Model.User.FullName.Trim()'s Dashboard
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="#" class="btn btn-white">
                            New view
                        </a>
                    </span>
                    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        Create new report
                    </a>
                    <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report" aria-label="Create new report">
                        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SAMPLE TABLER DASHBOARD -->
<div class="row row-deck row-cards">
    <div class="col-12">
        <div class="row row-cards">
              <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                          <div class="card-body">
                                <div class="row align-items-center">
                                      <div class="col-auto">
                                            <span class="bg-blue text-white avatar">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
                                            </span>
                                      </div>
                                      <div class="col">
                                            <div class="font-weight-medium">
                                                  132 Sales
                                            </div>
                                            <div class="text-muted">
                                                  12 waiting payments
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                          <div class="card-body">
                                <div class="row align-items-center">
                                      <div class="col-auto">
                                            <span class="bg-green text-white avatar">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/shopping-cart -->
                                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="6" cy="19" r="2"></circle><circle cx="17" cy="19" r="2"></circle><path d="M17 17h-11v-14h-2"></path><path d="M6 5l14 1l-1 7h-13"></path></svg>
                                            </span>
                                      </div>
                                      <div class="col">
                                            <div class="font-weight-medium">
                                                  78 Orders
                                            </div>
                                            <div class="text-muted">
                                                  32 shipped
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                          <div class="card-body">
                                <div class="row align-items-center">
                                      <div class="col-auto">
                                            <span class="bg-twitter text-white avatar">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/brand-twitter -->
                                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"></path></svg>
                                            </span>
                                      </div>
                                      <div class="col">
                                            <div class="font-weight-medium">
                                                  623 Shares
                                            </div>
                                            <div class="text-muted">
                                                  16 today
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
              <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                          <div class="card-body">
                                <div class="row align-items-center">
                                      <div class="col-auto">
                                            <span class="bg-facebook text-white avatar">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/brand-facebook -->
                                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg>
                                            </span>
                                      </div>
                                      <div class="col">
                                            <div class="font-weight-medium">
                                                  132 Likes
                                            </div>
                                            <div class="text-muted">
                                                  21 today
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="row row-cards">
              <div class="col-12">
                    <div class="card">
                          <div class="card-body">
                                <p class="mb-3">Using Storage <strong>6854.45 MB </strong>of 8 GB</p>
                                <div class="progress progress-separated mb-3">
                                      <div class="progress-bar bg-primary" role="progressbar" style="width: 44%"></div>
                                      <div class="progress-bar bg-info" role="progressbar" style="width: 19%"></div>
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 9%"></div>
                                </div>
                                <div class="row">
                                      <div class="col-auto d-flex align-items-center pe-2">
                                            <span class="legend me-2 bg-primary"></span>
                                            <span>Regular</span>
                                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">915MB</span>
                                      </div>
                                      <div class="col-auto d-flex align-items-center px-2">
                                            <span class="legend me-2 bg-info"></span>
                                            <span>System</span>
                                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">415MB</span>
                                      </div>
                                      <div class="col-auto d-flex align-items-center px-2">
                                            <span class="legend me-2 bg-success"></span>
                                            <span>Shared</span>
                                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">201MB</span>
                                      </div>
                                      <div class="col-auto d-flex align-items-center ps-2">
                                            <span class="legend me-2"></span>
                                            <span>Free</span>
                                            <span class="d-none d-md-inline d-lg-none d-xxl-inline ms-2 text-muted">612MB</span>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
              <div class="col-12">
                    <div class="card" style="height: 28rem">
                          <div class="card-body card-body-scrollable card-body-scrollable-shadow">
                                <div class="divide-y">
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar">JL</span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Jeffie Lewzey</strong> commented on your <strong>"I'm not a witch."</strong> post.
                                                        </div>
                                                        <div class="text-muted">yesterday</div>
                                                  </div>
                                                  <div class="col-auto align-self-center">
                                                        <div class="badge bg-primary"></div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/002m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              It's <strong>Mallory Hulme</strong>'s birthday. Wish him well!
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                                  <div class="col-auto align-self-center">
                                                        <div class="badge bg-primary"></div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/003m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Dunn Slane</strong> posted <strong>"Well, what do you want?"</strong>.
                                                        </div>
                                                        <div class="text-muted">today</div>
                                                  </div>
                                                  <div class="col-auto align-self-center">
                                                        <div class="badge bg-primary"></div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/000f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Emmy Levet</strong> created a new project <strong>Morning alarm clock</strong>.
                                                        </div>
                                                        <div class="text-muted">4 days ago</div>
                                                  </div>
                                                  <div class="col-auto align-self-center">
                                                        <div class="badge bg-primary"></div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/001f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Maryjo Lebarree</strong> liked your photo.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar">EP</span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Egan Poetz</strong> registered new client as <strong>Trilia</strong>.
                                                        </div>
                                                        <div class="text-muted">yesterday</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/002f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Kellie Skingley</strong> closed a new deal on project <strong>Pen Pineapple Apple Pen</strong>.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/003f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Christabel Charlwood</strong> created a new project for <strong>Wikibox</strong>.
                                                        </div>
                                                        <div class="text-muted">4 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar">HS</span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Haskel Shelper</strong> change status of <strong>Tabler Icons</strong> from <strong>open</strong> to <strong>closed</strong>.
                                                        </div>
                                                        <div class="text-muted">today</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/006m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Lorry Mion</strong> liked <strong>Tabler UI Kit</strong>.
                                                        </div>
                                                        <div class="text-muted">yesterday</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/004f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Leesa Beaty</strong> posted new video.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/007m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Perren Keemar</strong> and 3 others followed you.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar">SA</span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Sunny Airey</strong> upload 3 new photos to category <strong>Inspirations</strong>.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/009m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Geoffry Flaunders</strong> made a <strong>$10</strong> donation.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/010m.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Thatcher Keel</strong> created a profile.
                                                        </div>
                                                        <div class="text-muted">3 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/005f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Dyann Escala</strong> hosted the event <strong>Tabler UI Birthday</strong>.
                                                        </div>
                                                        <div class="text-muted">4 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar" style="background-image: url(./static/avatars/006f.jpg)"></span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Avivah Mugleston</strong> mentioned you on <strong>Best of 2020</strong>.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                      <div>
                                            <div class="row">
                                                  <div class="col-auto">
                                                        <span class="avatar">AA</span>
                                                  </div>
                                                  <div class="col">
                                                        <div class="text-truncate">
                                                              <strong>Arlie Armstead</strong> sent a Review Request to <strong>Amanda Blake</strong>.
                                                        </div>
                                                        <div class="text-muted">2 days ago</div>
                                                  </div>
                                            </div>
                                      </div>
                                </div>
                          </div>
                    </div>
              </div>
        </div>
    </div>


    <div class="col-md-12 col-lg-8">
        <div class="card">
              <div class="card-header">
                    <h3 class="card-title">Most Visited Pages</h3>
              </div>
              <div class="card-table table-responsive">
                    <table class="table table-vcenter">
                          <thead>
                                <tr>
                                      <th>Page name</th>
                                      <th>Visitors</th>
                                      <th>Unique</th>
                                      <th colspan="2">Bounce rate</th>
                                </tr>
                          </thead>
                          <tbody>
                        
                        <tr>
                                        <td>
                                              /about.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">4,896</td>
                                        <td class="text-muted">3,654</td>
                                        <td class="text-muted">82.54%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-1" style="min-height: 24px;"><div id="apexchartsql6fkl85" class="apexcharts-canvas apexchartsql6fkl85 apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1573" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1575" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1574"><clipPath id="gridRectMaskql6fkl85"><rect id="SvgjsRect1581" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskql6fkl85"></clipPath><clipPath id="nonForecastMaskql6fkl85"></clipPath><clipPath id="gridRectMarkerMaskql6fkl85"><rect id="SvgjsRect1582" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1580" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1588" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1589" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1600" class="apexcharts-grid"><g id="SvgjsG1601" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1603" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1604" x1="0" y1="6" x2="64" y2="6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1605" x1="0" y1="12" x2="64" y2="12" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1606" x1="0" y1="18" x2="64" y2="18" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1607" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1602" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1609" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1608" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1583" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1584" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1587" d="M 0 7L 8 0L 16 4L 24 14L 32 19L 40 23L 48 20L 56 6L 64 11" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskql6fkl85)" pathto="M 0 7L 8 0L 16 4L 24 14L 32 19L 40 23L 48 20L 56 6L 64 11" pathfrom="M -1 24L -1 24L 8 24L 16 24L 24 24L 32 24L 40 24L 48 24L 56 24L 64 24"></path><g id="SvgjsG1585" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1586" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1610" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1611" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1612" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1613" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1614" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1579" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1599" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1576" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td>
                                              /special-promo.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">3,652</td>
                                        <td class="text-muted">3,215</td>
                                        <td class="text-muted">76.29%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-2" style="min-height: 24px;"><div id="apexcharts1drui5kri" class="apexcharts-canvas apexcharts1drui5kri apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1615" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1617" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1616"><clipPath id="gridRectMask1drui5kri"><rect id="SvgjsRect1623" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask1drui5kri"></clipPath><clipPath id="nonForecastMask1drui5kri"></clipPath><clipPath id="gridRectMarkerMask1drui5kri"><rect id="SvgjsRect1624" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1622" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1630" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1631" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1642" class="apexcharts-grid"><g id="SvgjsG1643" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1645" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1646" x1="0" y1="4.8" x2="64" y2="4.8" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1647" x1="0" y1="9.6" x2="64" y2="9.6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1648" x1="0" y1="14.399999999999999" x2="64" y2="14.399999999999999" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1649" x1="0" y1="19.2" x2="64" y2="19.2" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1650" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1644" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1652" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1651" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1625" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1626" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1629" d="M 0 11.520000000000001L 8 13.440000000000001L 16 5.760000000000002L 24 2.8800000000000026L 32 12.48L 40 17.28L 48 10.56L 56 21.12L 64 3.84" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMask1drui5kri)" pathto="M 0 11.520000000000001L 8 13.440000000000001L 16 5.760000000000002L 24 2.8800000000000026L 32 12.48L 40 17.28L 48 10.56L 56 21.12L 64 3.84" pathfrom="M -1 24L -1 24L 8 24L 16 24L 24 24L 32 24L 40 24L 48 24L 56 24L 64 24"></path><g id="SvgjsG1627" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1628" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1653" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1654" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1655" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1656" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1657" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1621" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1641" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1618" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td>
                                              /news/1,new-ui-kit.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">3,256</td>
                                        <td class="text-muted">2,865</td>
                                        <td class="text-muted">72.65%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-3" style="min-height: 24px;"><div id="apexcharts2h912o8g" class="apexcharts-canvas apexcharts2h912o8g apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1658" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1660" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1659"><clipPath id="gridRectMask2h912o8g"><rect id="SvgjsRect1666" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMask2h912o8g"></clipPath><clipPath id="nonForecastMask2h912o8g"></clipPath><clipPath id="gridRectMarkerMask2h912o8g"><rect id="SvgjsRect1667" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1665" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1673" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1674" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1685" class="apexcharts-grid"><g id="SvgjsG1686" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1688" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1689" x1="0" y1="4.8" x2="64" y2="4.8" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1690" x1="0" y1="9.6" x2="64" y2="9.6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1691" x1="0" y1="14.399999999999999" x2="64" y2="14.399999999999999" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1692" x1="0" y1="19.2" x2="64" y2="19.2" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1693" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1687" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1695" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1694" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1668" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1669" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1672" d="M 0 14.4L 8 11.520000000000001L 16 14.4L 24 20.16L 32 7.68L 40 21.12L 48 1.9200000000000017L 56 2.8800000000000026L 64 5.760000000000002" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMask2h912o8g)" pathto="M 0 14.4L 8 11.520000000000001L 16 14.4L 24 20.16L 32 7.68L 40 21.12L 48 1.9200000000000017L 56 2.8800000000000026L 64 5.760000000000002" pathfrom="M -1 24L -1 24L 8 24L 16 24L 24 24L 32 24L 40 24L 48 24L 56 24L 64 24"></path><g id="SvgjsG1670" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1671" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1696" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1697" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1698" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1699" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1700" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1664" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1684" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1661" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td>
                                              /lorem-ipsum-dolor-sit-amet-very-long-url.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">986</td>
                                        <td class="text-muted">865</td>
                                        <td class="text-muted">44.89%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-4" style="min-height: 24px;"><div id="apexchartslxvbafvz" class="apexcharts-canvas apexchartslxvbafvz apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1701" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1703" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1702"><clipPath id="gridRectMasklxvbafvz"><rect id="SvgjsRect1709" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMasklxvbafvz"></clipPath><clipPath id="nonForecastMasklxvbafvz"></clipPath><clipPath id="gridRectMarkerMasklxvbafvz"><rect id="SvgjsRect1710" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1708" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1716" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1717" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1728" class="apexcharts-grid"><g id="SvgjsG1729" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1731" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1732" x1="0" y1="6" x2="64" y2="6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1733" x1="0" y1="12" x2="64" y2="12" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1734" x1="0" y1="18" x2="64" y2="18" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1735" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1730" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1737" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1736" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1711" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1712" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1715" d="M 0 21L 8 7.5L 16 10.5L 24 10.5L 32 22.5L 40 19.5L 48 4.5L 56 0L 64 1.5" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMasklxvbafvz)" pathto="M 0 21L 8 7.5L 16 10.5L 24 10.5L 32 22.5L 40 19.5L 48 4.5L 56 0L 64 1.5" pathfrom="M -1 30L -1 30L 8 30L 16 30L 24 30L 32 30L 40 30L 48 30L 56 30L 64 30"></path><g id="SvgjsG1713" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1714" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1738" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1739" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1740" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1741" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1742" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1707" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1727" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1704" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td>
                                              /colors.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">912</td>
                                        <td class="text-muted">822</td>
                                        <td class="text-muted">41.12%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-5" style="min-height: 24px;"><div id="apexchartsz05h34yh" class="apexcharts-canvas apexchartsz05h34yh apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1743" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1745" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1744"><clipPath id="gridRectMaskz05h34yh"><rect id="SvgjsRect1751" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskz05h34yh"></clipPath><clipPath id="nonForecastMaskz05h34yh"></clipPath><clipPath id="gridRectMarkerMaskz05h34yh"><rect id="SvgjsRect1752" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1750" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1758" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1759" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1771" class="apexcharts-grid"><g id="SvgjsG1772" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1774" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1775" x1="0" y1="4.8" x2="64" y2="4.8" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1776" x1="0" y1="9.6" x2="64" y2="9.6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1777" x1="0" y1="14.399999999999999" x2="64" y2="14.399999999999999" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1778" x1="0" y1="19.2" x2="64" y2="19.2" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1779" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1773" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1781" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1780" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1753" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1754" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1757" d="M 0 22.08L 7.111111111111111 13.440000000000001L 14.222222222222221 9.600000000000001L 21.333333333333332 10.56L 28.444444444444443 3.84L 35.55555555555556 4.800000000000001L 42.666666666666664 16.32L 49.77777777777778 1.9200000000000017L 56.888888888888886 6.720000000000002L 64 10.56" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskz05h34yh)" pathto="M 0 22.08L 7.111111111111111 13.440000000000001L 14.222222222222221 9.600000000000001L 21.333333333333332 10.56L 28.444444444444443 3.84L 35.55555555555556 4.800000000000001L 42.666666666666664 16.32L 49.77777777777778 1.9200000000000017L 56.888888888888886 6.720000000000002L 64 10.56" pathfrom="M -1 24L -1 24L 7.111111111111111 24L 14.222222222222221 24L 21.333333333333332 24L 28.444444444444443 24L 35.55555555555556 24L 42.666666666666664 24L 49.77777777777778 24L 56.888888888888886 24L 64 24"></path><g id="SvgjsG1755" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1756" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1782" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1783" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1784" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1785" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1786" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1749" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1770" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1746" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                                  <tr>
                                        <td>
                                              /docs/index.html
                                              <a href="#" class="ms-1" aria-label="Open website">
                                    
                                    <!-- Download SVG icon from http://tabler-icons.io/i/link -->
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"></path><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"></path></svg>
                                              </a>
                                        </td>
                                        <td class="text-muted">855</td>
                                        <td class="text-muted">798</td>
                                        <td class="text-muted">32.65%</td>
                                        <td class="text-end w-1">
                                              <div class="chart-sparkline chart-sparkline-sm" id="sparkline-bounce-rate-6" style="min-height: 24px;"><div id="apexchartsihh4gu4y" class="apexcharts-canvas apexchartsihh4gu4y apexcharts-theme-light" style="width: 64px; height: 24px;"><svg id="SvgjsSvg1787" width="64" height="24" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1789" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1788"><clipPath id="gridRectMaskihh4gu4y"><rect id="SvgjsRect1795" width="70" height="26" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskihh4gu4y"></clipPath><clipPath id="nonForecastMaskihh4gu4y"></clipPath><clipPath id="gridRectMarkerMaskihh4gu4y"><rect id="SvgjsRect1796" width="68" height="28" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath></defs><line id="SvgjsLine1794" x1="0" y1="0" x2="0" y2="24" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="0" y="0" width="1" height="24" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1802" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1803" class="apexcharts-xaxis-texts-g" transform="translate(0, 4)"></g></g><g id="SvgjsG1815" class="apexcharts-grid"><g id="SvgjsG1816" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1818" x1="0" y1="0" x2="64" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1819" x1="0" y1="4.8" x2="64" y2="4.8" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1820" x1="0" y1="9.6" x2="64" y2="9.6" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1821" x1="0" y1="14.399999999999999" x2="64" y2="14.399999999999999" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1822" x1="0" y1="19.2" x2="64" y2="19.2" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1823" x1="0" y1="24" x2="64" y2="24" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1817" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1825" x1="0" y1="24" x2="64" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1824" x1="0" y1="1" x2="0" y2="24" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1797" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1798" class="apexcharts-series" seriesname="seriesx1" data:longestseries="true" rel="1" data:realindex="0"><path id="SvgjsPath1801" d="M 0 2.8800000000000026L 7.111111111111111 12.48L 14.222222222222221 17.28L 21.333333333333332 10.56L 28.444444444444443 21.12L 35.55555555555556 3.84L 42.666666666666664 16.32L 49.77777777777778 1.9200000000000017L 56.888888888888886 6.720000000000002L 64 10.56" fill="none" fill-opacity="1" stroke="rgba(32,107,196,0.85)" stroke-opacity="1" stroke-linecap="round" stroke-width="2" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMaskihh4gu4y)" pathto="M 0 2.8800000000000026L 7.111111111111111 12.48L 14.222222222222221 17.28L 21.333333333333332 10.56L 28.444444444444443 21.12L 35.55555555555556 3.84L 42.666666666666664 16.32L 49.77777777777778 1.9200000000000017L 56.888888888888886 6.720000000000002L 64 10.56" pathfrom="M -1 24L -1 24L 7.111111111111111 24L 14.222222222222221 24L 21.333333333333332 24L 28.444444444444443 24L 35.55555555555556 24L 42.666666666666664 24L 49.77777777777778 24L 56.888888888888886 24L 64 24"></path><g id="SvgjsG1799" class="apexcharts-series-markers-wrap" data:realindex="0"></g></g><g id="SvgjsG1800" class="apexcharts-datalabels" data:realindex="0"></g></g><line id="SvgjsLine1826" x1="0" y1="0" x2="64" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1827" x1="0" y1="0" x2="64" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1828" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1829" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1830" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1793" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1814" class="apexcharts-yaxis" rel="0" transform="translate(-18, 0)"></g><g id="SvgjsG1790" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend" style="max-height: 12px;"></div></div></div>
                                        </td>
                                  </tr>
                            </tbody>
                
                </table>
              </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
              <div class="card-header">
                    <h3 class="card-title">Social Media Traffic</h3>
              </div>
              <table class="table card-table table-vcenter">
                    <thead>
                          <tr>
                                <th>Network</th>
                                <th colspan="2">Visitors</th>
                          </tr>
                    </thead>
                    <tbody>
                          <tr>
                                <td>Instagram</td>
                                <td>3,550</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>Twitter</td>
                                <td>1,798</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 35.96%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>Facebook</td>
                                <td>1,245</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 24.9%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>TikTok</td>
                                <td>986</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 19.72%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>Pinterest</td>
                                <td>854</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 17.08%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>VK</td>
                                <td>650</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 13.0%"></div>
                                      </div>
                                </td>
                          </tr>
                          <tr>
                                <td>Pinterest</td>
                                <td>420</td>
                                <td class="w-50">
                                      <div class="progress progress-xs">
                                            <div class="progress-bar bg-primary" style="width: 8.4%"></div>
                                      </div>
                                </td>
                          </tr>
                    </tbody>
              </table>
        </div>
    </div>


</div>
<!-- END SAMPLE TABLER DASHBOARD -->
