@using Microsoft.AspNetCore.Identity
@using RoverCore.Domain.Entities.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
    <div class="container-fluid d-flex justify-content-end mr-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav flex-row order-md-last">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"></form>
            }
            @await Html.PartialAsync("_NavbarPartial")
        </div>
    </div>
</header>
