@model UserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="page-header d-print-none mb-2">
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				Identity
			</div>
			<h2 class="page-title">
				Edit User
			</h2>
		</div>
	</div>
</div>
<div class="card shadow mb-5">
	<div class="card-body">
		<div class="row">
			<div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
	                    <label asp-for="LastName" class="control-label"></label>
	                    <input asp-for="LastName" class="form-control" />
	                    <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
	                    <label asp-for="PhoneNumber" class="control-label"></label>
	                    <input asp-for="PhoneNumber" class="form-control" />
	                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Roles" class="control-label"></label>
                        <select asp-for="Roles" asp-items="ViewBag.Roles" class="form-control js-select2">
                            <option value="">Please select a role</option>
                        </select>
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
	                    <label asp-for="ConfirmPassword" class="control-label"></label>
	                    <input asp-for="ConfirmPassword" class="form-control" />
	                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="row">
	                    <div class="col-md-10">
		                    <div class="form-group d-flex">
			                    <label asp-for="LockoutEnabled" class="form-check form-switch">
				                    <input asp-for="LockoutEnabled" class="form-check-input"/>
				                    <span class="form-check-label">Lockout Enabled</span>
			                    </label>
			                    <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
		                    </div>
	                    </div>
                    </div>
                    <div class="row">
	                    <div class="col-md-10">
		                    <div class="form-group d-flex">
			                    <label asp-for="EmailConfirmed" class="form-check form-switch">
				                    <input asp-for="EmailConfirmed" class="form-check-input"/>
				                    <span class="form-check-label">Email Confirmed</span>
			                    </label>
			                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
		                    </div>
	                    </div>
                    </div>
                    <div class="row">
	                    <div class="col-md-10">
		                    <div class="form-group d-flex">
			                    <label asp-for="PhoneNumberConfirmed" class="form-check form-switch">
				                    <input asp-for="PhoneNumberConfirmed" class="form-check-input"/>
				                    <span class="form-check-label">Phone Number Confirmed</span>
			                    </label>
			                    <span asp-validation-for="PhoneNumberConfirmed" class="text-danger"></span>
		                    </div>
	                    </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
			</div>
		</div>

	</div>
</div>
<a asp-action="Index" class="btn btn-default">Back to List</a>

@section Styles {
	<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css" />
}

@section Scripts {
	<script src="~/vendor/select2/select2.min.js"></script>
    
	<script type="text/javascript">
		$(document).ready(function() {
			$('.js-select2').select2();
		});
	</script>
}